.ratio-slider {
    --bs-aspect-ratio: calc(3 / 4 * 100%); // 4:3

    @include media-breakpoint-between(sm, md) {
        --bs-aspect-ratio: calc(9 / 16 * 100%); // 16:9
    }
    @include media-breakpoint-up(md) {
        --bs-aspect-ratio: calc(450 / 1920 * 100%); // 1920x450
    }
}
